<form>
  <div class="form-group">
    <label for="firstName">Ime: </label>
    <div class="input-group">
      <input id="firstName" class="form-control-admin" type="text" placeholder="" required name="firstName" />
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Prezime: </label>
    <div class="input-group">
      <input id="lastName" class="form-control-admin" type="text" placeholder="" required name="lastName" />
    </div>
  </div>


  <div class="form-group">
    <label for="dateOfBirth">Datum rođenja: </label>
    <div class="input-group">
      <input id="dateOfBirth" class="form-control-admin" type="date" placeholder="" required name="dateOfBirth" />
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <div class="input-group">
      <input id="email" class="form-control-admin" type="email" placeholder="" required name="email" />
    </div>
  </div>

  <div class="form-group">
    <label for="password">Lozinka: </label>
    <div class="input-group">
      <input id="password" class="form-control-admin" type="password" placeholder="" required name="password" />
    </div>
  </div>

  <div class="form-group mt-2 mb-2">
    <label>Tip korisnika: </label>
    <select class="form-control-admin">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <button type="button" class="btn btn-dark myBtn" (click)="addUser()">Evidentiraj korisnika</button>
</form>
