@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
 @include flex-center;
  height: calc(100% - 149px);
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px 70px;
    width: 550px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    background-color: rgb(255 255 255 / 75%);
}
p {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bolder;
}
label{
  font-weight:bold;
}




