<div class="container">
  <div class="form-container">
    <h1>{{ localizationService.localize("edit_profile_title") }}</h1>
    <div class="box">

    </div>
    <div class="row">
      <div class="col d-flex flex-column">
        <label for="ime" class="mt-2">{{ localizationService.localize("edit_profile_photo_label") }}</label>
        <img #profileImage [src]="profileModel.profileImageBase64" class="img-thumbnail">
        <input type="file" class="form-control mt-2" accept="image/*" (change)="uploadImage($event, profileImage)">
      </div>
      <div class="col">
        <form>
          <label for="ime" class="mt-2">{{ localizationService.localize("edit_profile_name_label") }}</label>
          <input id="ime" class="form-control" type="text" placeholder="" [(ngModel)]="profileModel.firstName"
            [ngModelOptions]="{standalone: true}">

          <label for="prezime" class="mt-2">{{ localizationService.localize("edit_profile_surname_label") }}</label>
          <input id="prezime" class="form-control" type="text" placeholder="" [(ngModel)]="profileModel.lastName"
            [ngModelOptions]="{standalone: true}">

          <label for="brojTelefona" class="mt-2">{{ localizationService.localize("edit_profile_phone_number_label") }}</label>
          <input id="brojTelefona" class="form-control" type="text" placeholder="" [(ngModel)]="profileModel.phoneNumber"
            [ngModelOptions]="{standalone: true}">

          <label for="adresa" class="mt-2">{{ localizationService.localize("edit_profile_address_label") }}</label>
          <input id="adresa" class="form-control" type="text" placeholder="" [(ngModel)]="profileModel.address"
            [ngModelOptions]="{standalone: true}">
        </form>
      </div>
    </div>
    <button class="primary mt-2" (click)="save()">{{ localizationService.localize("edit_profile_save_btn_text") }}</button>
  </div>
