.form-container {
  padding: 10px 40px 10px 40px;
  width: 450px;
}

.box {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

img {
  width: 120px;
  height: 150px;
  margin: 3px 0px 0px 0px;
  background-color: white;
}
