<div class="container">
  <div class="form-container">
    <div class="login-form" *ngIf="!isVerifyLoginRequestSent">
      <h1 class="text-center mb-1">{{ localizationService.localize("login_title") }}</h1>
      <p class="text-center mb-2">
        {{ localizationService.localize("login_paragraph") }}
      </p>
      <form [formGroup]="formGroup">
        <label for="email">{{ localizationService.localize("login_email") }}</label>
        <input id="email" class="form-control" type="email" placeholder="" formControlName="email"
          [class.is-invalid]="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
        <div class="invalid-feedback">
          {{ localizationService.localize("required_field_error_message") }}
        </div>
        <label for="lozinka">{{ localizationService.localize("login_password") }}</label>
        <input id="lozinka" class="form-control" type="password" placeholder="" formControlName="password"
          [class.is-invalid]="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
        <div class="invalid-feedback">
          {{ localizationService.localize("required_field_error_message") }}
        </div>
      </form>
        <!-- <input id="check" type="checkbox">
      <label for="check"> Zapamti podatke</label> -->
      <a routerLink="/resetPassword">{{ localizationService.localize("login_forgotten_password") }}</a>

      <button class="primary mt-4" (click)="login()">{{ localizationService.localize("login_login_btn_text") }}</button>
      <button class="secondary mt-3" (click)="navigateToRegistration()">{{ localizationService.localize("login_register_btn_text") }}</button>
    </div>
    <div class="verify-login-container" *ngIf="isVerifyLoginRequestSent">
      <h3>{{ localizationService.localize("verify_login_paragraph") }}</h3>
      <input #codeInput type="text" (keyup)="validateCodeLength(codeInput.value)">
      <button class="primary" (click)="verifyLogin(codeInput.value)" [disabled]="!enableVerifyButton">
        {{ localizationService.localize("verify_login_btn_text") }}
      </button>
    </div>
  </div>
</div>
