<div class="container">
  <div class="form-container">
    <h1>Prijava </h1>
    <p id="uvod">
      Postanite član i iz udobnosti svoga doma kupite kartu, i ne propustite ponude i akcije.
    </p>
    <label for="email">E-Mail: *</label>
    <input id="email" type="email" placeholder=""> <br />
    <label for="lozinka">Lozinka: *</label>
    <input id="lozinka" type="password" placeholder=""><br />
    <form>
      <input id="check" type="checkbox">
      <label for="check"> Zapamti podatke</label>
      <a href="url">Zaboravljena lozinka?</a>
    </form>

    <button class="prijava" (click)="prijava()">Prijava</button>
    <button class="registracija "(click)="registracija()">Registruj se</button>
  </div>
</div>
