<div class="d-flex flex-column w-100 admin-container">
  <div class="form-group w-100 ps-5 pe-4">
    <label>Naziv:</label>
    <input type="text" class="form-control-admin" (keyup)="findByName($event)" />
    <hr>
  </div>

  <div class="w-100 ps-3 pe-3 d-flex flex-column align-items-center">
    <table class="table table-hover table-with-controls w-100">
      <thead>
        <tr>
          <th></th>
          <th>Naziv</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let holiday of filteredHolidayList | paginate:{
            itemsPerPage: paginationModel.pageSize,
            currentPage: paginationModel.page,
            totalItems: paginationModel.totalCount
          }; let i=index"
        >
          <td class="controls">
            <button type="button" class="btn btn-link btn-operation" data-bs-toggle="modal"
              data-bs-target="#base-modal" (click)="showHolidayEditModal(holiday)">
              <fa-icon [icon]="editIcon" title="Ažuriranje"></fa-icon>
            </button>
            <button type="button" class="btn btn-link btn-operation" (click)="deleteHoliday(holiday)">
              <fa-icon [icon]="deleteIcon" title="Brisanje"></fa-icon>
            </button>
          </td>
          <td>{{ holiday.name }}</td>
          <td>{{ holiday.date | date }}</td>
        </tr>
      </tbody>
    </table>
    <div class="paging d-flex justify-content-left">
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="onPageChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
