.form-container {
  padding: 10px 40px 10px 40px;
  width: 450px;
}

.fields-container {
  border-top: 2px solid #000;
}

.img-thumbnail {
  width: 120px;
  height: 150px;
  margin: 3px 0px 0px 0px;
  background-color: white;
}
