<div class="d-flex flex-row w-100 admin-container">
  <div class="w-100 d-flex justify-content-center align-items-center divForm">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-dark myBtn" data-bs-toggle="modal" data-bs-target="#base-modal" (click)="adminShowNewsModal()">
        Evidencija obavijesti
      </button>
      <button type="button" class="btn btn-dark myBtn" data-bs-toggle="modal" data-bs-target="#base-modal" (click)="adminShowUsersModal()">
        Evidencija korisnika
      </button>
      <button type="button" class="btn btn-dark myBtn" data-bs-toggle="modal" data-bs-target="#base-modal" (click)="adminShowTicketsModal()">
        Evidencija prevoznih karata
      </button>
      <button type="button" class="btn btn-dark myBtn" data-bs-toggle="modal" data-bs-target="#base-modal" (click)="adminShowVehiclesModal()">
        Evidencija vozila
      </button>
      <button type="button" class="btn btn-dark myBtn" data-bs-toggle="modal" data-bs-target="#base-modal" (click)="adminShowStationsModal()">
        Evidencija stanica
      </button>
      <button type="button" class="btn btn-dark myBtn" data-bs-toggle="modal" data-bs-target="#base-modal" (click)="showRouteCreationModal()">
        Kreacija ruta
      </button>
    </div>
    </div>
  </div>

