@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  overflow: auto;
  max-height: 45vh;
}

.form-container {
  padding: 10px 20px 20px 20px;
}

.title {
  font-weight: bolder;
  font-size: larger;
}
