<div class="d-flex flex-row w-100 admin-container">
  <app-admin-nav-page></app-admin-nav-page>
  <div class="w-100 d-flex justify-content-center align-items-center flex-column">
      <div class="form-group w-100 ps-5 pe-4">
        <label for="formControlInput1-1" class="formControlInput1-1">Email:</label>
        <input type="email" class="form-control-admin" [(ngModel)]="userModel.email"
          [ngModelOptions]="{standalone: true}" (keyup)="findEmail($event)">
        <hr>
      </div>

      <div class="form-group">
        <table class="table table-hover">
          <tr>
            <th colspan="2"></th>
            <th>Email</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Adresa</th>
            <th>Broj telefona</th>
            <th>Tip korisnika</th>
          </tr>
          <tbody>
            <tr *ngFor="let u of this.usersData | paginate:{
                itemsPerPage: paginationModel.pageSize,
                currentPage: paginationModel.page,
                totalItems: paginationModel.totalCount
              }; let i=index">
              <td>
                <button type="button" class="btn btn-link btn-operation" data-bs-toggle="modal"
                  data-bs-target="#base-modal" (click)="showUpdateUserModal(u)">Uredi</button>
              </td>
              <td>
                <button type="button" class="btn btn-link btn-operation" (click)="deleteUser(u.id)">Obriši</button>
              </td>
              <td>{{u.email}}</td>
              <td>{{u.firstName}}</td>
              <td>{{u.lastName}}</td>
              <td>{{u.address}}</td>
              <td>{{u.phoneNumber}}</td>
              <td>{{u.roleName}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group">
        <div class="mt-2">
          <div class="paging d-flex justify-content-left">
            <pagination-controls previousLabel="" nextLabel="" (pageChange)="onPageChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
  </div>
</div>
