.divForm {
  margin: 5% 0% 0% 5%;
}

.backgroundDiv {
  background-color: white;
  width: 90%;
  height: 50%;
  border: 1px solid black;
  margin-top: 70px;
  padding-bottom: 320px;
}

.formControlInput1-1 {
  margin-left: 27px;
  margin-top: 40px;
}

.formControlInput1-2 {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
  word-spacing: 60px;
}

.inputDiv {
  margin-right: 15%;
  width: 97%;
  padding-bottom: 100px;
}

.btn-operation {
  width: 10%;
}
