.send-review {
  background-color: rgba(0, 0, 0, 0.916);
  color: white;
  font-weight: bolder;
  font-size: large;
  border: 2px solid black;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.171);
  box-shadow: 2px 4px rgba(0, 0, 0, 0);
  transition: 0.5s;
  width: 100%;
  height: 15%;
  padding: 3px;
  margin-top: 10px;
}
