<div class="mb-3">
  <div class="input-group-prepend">
    <select class="form-control" style="background-color: rgba(108, 117, 125, 0.916); color: white;"
      [(ngModel)]="requestData.userStatusId">
      <option *ngFor="let userStatus of userStatuses; let i=index" [value]="userStatus.id">
        Mjesečna karta - {{userStatus.name}}
      </option>
    </select>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <div class="custom-file">
      <input type="file" accept="image/jpeg,image/jpg,image/png,application/pdf" class="custom-file-input" id="customFile"
        (change)="handleFileInput($any($event.target).files)" [disabled]="working">
      <label class="custom-file-label" for="customFile">{{ uploadFileLabel }}</label>
    </div>
  </div>
</div>
<div class="row mt-3" *ngIf="working">
  <div class="col">
    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }"
        [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress }}%</div>
    </div>
  </div>
</div>

<button class="request" (click)="sendRequestButton()">Pošalji zahtjev</button>
