<div class="container">
  <div class="form-container">
    <h1>Registracija </h1>
    <div class="input-container">
      <label for="ime">Ime: *</label>
      <input id="ime" type="text" placeholder="">
    </div>
    <div class="input-container">
      <label for="prezime">Prezime: *</label>
      <input id="prezime" type="text" placeholder="">
    </div>
    <div class="input-container">
      <label for="datumRodjenja">Datum rođenja: *</label>
      <input id="datumRodjenja" type="date" placeholder="">
    </div>
    <div class="input-container">
      <label for="brojTelefona">Datum rođenja: *</label>
      <input id="brojTelefona" type="number" placeholder="">
    </div>
    <div class="input-container">
      <label for="email">E-Mail: *</label>
      <input id="email" type="email" placeholder="">
    </div>
    <div class="input-container">
      <label for="lozinka">Lozinka: *</label>
      <input id="lozinka" type="password" placeholder="">
    </div>

    <button class="registracija" (click)="registracija()">Registruj se</button>
  </div>
</div>
