@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex-center;
  height: calc(100% - 149px);
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 70px;
  width: 550px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgb(255 255 255 / 75%);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bolder;
}

button {
  background-color: rgba(0, 0, 0, 0.916);
  color: white;
  font-weight: bolder;
  font-size: large;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px #434343;
  margin-top: 10px;
}

input {
  padding: 5px 9px;
  margin-bottom: 9px;
  border: 1px solid rgba(0, 0, 0, 0.354);
}

label {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second {
  background-color: rgba(255, 255, 255, 0.947);
  color: black;
  border-color: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0);
  transition: 0.5s;
}
