@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex-center;
  height: calc(100% - 149px);
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px 10px 40px;
  width: 450px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bolder;
}

label {
  font-weight: bold;
  margin-top: 5px;
  float: left;
}
