<div class="container">
  <div class="form-container" >
    <h1>Moji podaci </h1>
    <div class="nav">
      <button class="podaci" (click)="mojiPodaci()">Moji podaci</button>
      <button class="historija" (click)="historijaKupovina()">Historija kupovina</button>
    </div>
    <hr>
      <div class="box">
        <div class="left">
          <img src="./assets/X.png">
        </div>
        <div class="right">
        <div class="input-container">
          <label for="brojKupca">Broj kupca: {{profileModel.id}} </label>
        </div>
        <div class="input-container">
          <label for="ime">Ime: {{profileModel.firstName}}</label>
        </div>
        <div class="input-container">
          <label for="prezime">Prezime: {{profileModel.lastName}}</label>
        </div>
        <div class="input-container">
          <label for="datumRodjenja">Datum rođenja: {{profileModel.dateOfBirth}}</label>
        </div>
        <div class="input-container">
          <label for="brojTelefona">Broj telefona: {{profileModel.phoneNumber}}</label>
        </div>
        <div class="input-container">
          <label for="adresa">Adresa: {{profileModel.address}}</label>
        </div>
        <div class="input-container">
          <label for="email">Email: {{profileModel.email}}</label>
        </div>
      </div>
      </div>
      <button class="izmjena" (click)="izmjenaPodataka()">Izmjena podataka</button>
    </div>
  </div>

