<div class="container">
  <div class="form-container">
    <h1>Moji podaci </h1>
    <div class="nav">
      <button class="data" (click)="navigateToProfile()">Moji podaci</button>
      <button class="history" (click)="navigateToPurchaseHistory()">Historija kupovina</button>
    </div>
    <div class="box">

      <div class="input-container" style="margin-top: 5px;">
        <label style="margin-left:1%; text-align: center;" for="ime">Broj kupca: </label>
        <input style="margin-left:1%; width: 98%; text-align: center; font-weight: bolder;" id="ime" type="text"
          placeholder="" readonly [value]="profileModel.id">
      </div>
      <div class="row">
        <div class="col">
          <label for="ime">Ime: </label>
          <input id="ime" type="text" placeholder="" readonly [value]="profileModel.firstName">
        </div>
        <div class="col">
          <label for="prezime">Prezime: </label>
          <input id="prezime" type="text" placeholder="" readonly [value]="profileModel.lastName">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="datumRodjenja">Datum rođenja: </label>
          <input id="datumRodjenja" type="text" placeholder="" readonly [value]="profileModel.dateOfBirth | date">
        </div>
        <div class="col">
          <label for="adresa">Adresa: </label>
          <input id="adresa" type="text" placeholder="" readonly [value]="profileModel.address">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="email">Email:</label>
          <input id="email" type="text" placeholder="" readonly [value]="profileModel.email">
        </div>
        <div class="col">
          <label for="brojTelefona">Broj telefona:</label>
          <input id="brojTelefona" type="text" placeholder="" readonly [value]="profileModel.phoneNumber">
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px;">
        <div class="col">
          <label for="ime" style="text-align: center; margin-left: 0%;">Fotografija: </label>
          <img src="./assets/X.png" class="rounded mx-auto d-block">
        </div>
      </div>
    </div>
    <button class="izmjena" (click)="navigateToUpdate()">Izmjena podataka</button>
    <button class="obrisi" (click)="deleteProfile()">Obriši profil</button>

  </div>
