.form-container {
  padding: 10px 20px 20px 20px;
  width: 60%;
  overflow: auto;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }

  @media only screen and (max-height: 936px) {
    height: 63vh;
  }
}

.box {
  border: 1px solid black;
  width: 100%;
  margin-top: 4px;
  padding: 0 2%;
}

.history-btn, .request-btn {
  background-color: rgba(0, 0, 0, 0.916);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 3px #434343;
  font-weight: lighter;
  font-size: small;
  white-space: nowrap;
  height: 25%;
  width: fit-content;
  padding: 0 5px;
  margin-right: 5px;
}

input {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.251);
  border: 2px solid rgba(104, 104, 104, 0.187);
}

img {
  width: 80px;
  height: 100px;
  margin: 5px 10px 0px 10px;
  background-color: white;
}
