<div class="container">
  <div class="form-container">
    <div class="login-form">
      <h1>Resetuj lozinku</h1>
      <p id="uvod">
        Ukoliko ste zaboravili lozinku, unesite email računa i nova će Vam biti poslana na email.
      </p>
      <label for="email">E-Mail: *</label>
      <input #email id="email" type="email" placeholder="E-mail" required (keyup)="validateEmail(email.value)"> <br />
      <div *ngIf="isEmailValid == false" class="alert alert-danger mt-2" role="alert">
        Molimo Vas, unesite korektan email.
      </div>
      <button class="primary" (click)="sendResetPasswordRequest(email.value)">Resetuj lozinku</button>
    </div>
</div>
