<div class="container">
  <div class="form-container">
    <div class="login-form">
      <h1 class="text-center mb-1">Resetuj lozinku</h1>
      <p class="text-center mb-2">
        Ukoliko ste zaboravili lozinku, unesite email računa i nova će Vam biti poslana na email.
      </p>
      <form [formGroup]="formGroup">
        <label for="email">E-Mail: *</label>
        <input formControlName="email" id="email" class="form-control" type="email" placeholder="E-mail"
          [class.is-invalid]="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" />
          <div class="invalid-feedback">
            Unesite korektan email!
          </div>
        <div *ngIf="isResetPasswordRequestSent" class="alert alert-success mt-2" role="alert">
          Ukoliko email postoji, nova lozinka će Vam biti poslana.
        </div>
        <button class="primary mt-4" (click)="sendResetPasswordRequest()">Resetuj lozinku</button>
      </form>
    </div>
</div>
