.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 149px);
}

.form-container {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  width: 550px;
  padding: 20px 45px 30px 45px;
  background-color: rgb(255 255 255 / 75%);

  .login-form {
    display: flex;
    flex-direction: column;
  }
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bolder;
}
p#uvod{
  text-align: center;
  margin-bottom: 15px;
}

button {
  margin-top: 15px;
}

input{
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.354);
}
label{
  font-weight:bold;
}
a{
  float: right;
  font-weight:bold;
}


