<div class="container">
  <div class="form-container">
    <div class="login-form">
      <h1 class="text-center mb-1">{{ localizationService.localize("reset_password_title") }}</h1>
      <p class="text-center mb-2">
        {{ localizationService.localize("reset_password_paragraph") }}
      </p>
      <form [formGroup]="formGroup">
        <label for="email">{{ localizationService.localize("reset_password_email_label") }}</label>
        <input formControlName="email" id="email" class="form-control" type="email"
          [class.is-invalid]="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" />
          <div class="invalid-feedback">
            {{ localizationService.localize("reset_password_incorrect_email") }}
          </div>
        <div *ngIf="isResetPasswordRequestSent" class="alert alert-success mt-2" role="alert">
          {{ localizationService.localize("reset_password_success_text") }}
        </div>
        <button class="primary mt-4" (click)="sendResetPasswordRequest()">
          {{ localizationService.localize("reset_password_btn_text") }}
        </button>
      </form>
    </div>
</div>
