<div class="d-flex flex-column flex-shrink-0 p-3 black-nav" style="width: 270px;">

  <div class="container justify-content-center d-flex">
    <ul class="d-flex nav flex-column nav-pills ">

      <li class="nav-item">
        <a class="nav-link a-link-nav" routerLink="/admin" routerLinkActive="selected"
          [routerLinkActiveOptions]="{exact:true}">Početna</a>
      </li>

      <li class="nav-item">
        <a class="nav-link a-link-nav" routerLink="/admin/users" routerLinkActive="selected"
          [routerLinkActiveOptions]="{exact:true}">Korisnici</a>
      </li>

      <li class="nav-item">
        <a class="nav-link a-link-nav" routerLink="/admin/company" routerLinkActive="selected"
          [routerLinkActiveOptions]="{exact:true}">GP Sarajevo</a>
      </li>

      <li class="nav-item">
        <a class="nav-link a-link-nav" routerLink="/admin/report" routerLinkActive="selected"
          [routerLinkActiveOptions]="{exact:true}">Statistika</a>
      </li>
    </ul>

  </div>
</div>
