<div class="container">
  <div class="form-container">
    <h1>{{ localizationService.localize("page_not_found_error_title") }}</h1>
    <h3>{{ localizationService.localize("page_not_found_title") }}</h3>

    <div class="box">
      <p>
        {{ localizationService.localize("page_not_found_paragraph") }} <br />
        {{ localizationService.localize("page_not_found_link_text") }}
        <a href=''>
          {{ localizationService.localize("page_not_found_link") }}
        </a>
      </p>
    </div>
  </div>
