<div class="navTop">
</div>
<div class="navBottom">
  <nav>
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li *ngIf="!!user"><a [routerLink]="['/profile']">Profil</a></li>
      <li><a href="#relacije">Relacije</a></li>
      <li><a href="#utisci">Utisci</a></li>
      <li><a href="#zahtjevi">Zahtjevi</a></li>
      <li style="float: right;"><a id="prijava" [routerLink]="['/prijava']" *ngIf="!user">Prijava</a></li>
      <li style="float: right;" *ngIf="!!user">
        <div class="d-flex align-items-center user-info-container">
          <span>{{ user.email }}</span>
          <a (click)="logout()">
            <fa-icon [icon]="logoutIcon"></fa-icon>
          </a>
        </div>
      </li>
    </ul>
  </nav>
</div>
