<div class="mb-5">
  <div class="navTop">
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-light p-0 position-absolute w-100">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button collapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item pe-3 ps-3 pt-2 pb-2">
            <span class="d-md-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
              <a [routerLink]="['/']">Home</a>
            </span>
            <a class="d-none d-md-block" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item pe-3 ps-3 pt-2 pb-2" routerLinkActive="selected" *ngIf="!!user">
            <span class="d-md-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
              <a [routerLink]="['/profile']">Profil</a>
            </span>
            <a class="d-none d-md-block" [routerLink]="['/profile']">Profil</a>
          </li>

          <li class="nav-item pe-3 ps-3 pt-2 pb-2"  routerLinkActive="selected">
            <span class="d-md-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
              <a href="#relacije">Relacije</a>
            </span>
            <a class="d-none d-md-block" href="#relacije">Relacije</a>
          </li>

          <li class="nav-item pe-3 ps-3 pt-2 pb-2" routerLinkActive="selected">
            <span class="d-md-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
              <a [routerLink]="['/review']">Utisci</a>
            </span>
            <a class="d-none d-md-block" [routerLink]="['/review']">Utisci</a>
          </li>

          <li class="nav-item pe-3 ps-3 pt-2 pb-2" routerLinkActive="selected">
            <span class="d-md-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
              <a [routerLink]="['/news']">Novosti</a>
            </span>
            <a class="d-none d-md-block" [routerLink]="['/news']">Novosti</a>
          </li>
        </ul>

        <div class="d-flex login-container pe-3 ps-3 pt-2 pb-2">
          <div class="d-md-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
            <a id="prijava" [routerLink]="['/prijava']" *ngIf="!user">Prijava</a>
            <div class="d-flex align-items-center user-info-container" *ngIf="!!user">
              <span>{{ user.email }}</span>
              <a (click)="logout()" class="ms-2">
                <fa-icon [icon]="logoutIcon"></fa-icon>
              </a>
            </div>
          </div>
          <div class="d-none d-md-block">
            <a id="prijava" [routerLink]="['/prijava']" *ngIf="!user">Prijava</a>
            <div class="d-flex align-items-center user-info-container" *ngIf="!!user">
              <span>{{ user.email }}</span>
              <a (click)="logout()" class="ms-2">
                <fa-icon [icon]="logoutIcon"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>
