@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex-center;
  height: calc(100% - 149px);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 20px 20px;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgb(255 255 255 / 75%);
}

h1 {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: bolder;
}

hr {
  margin-top: -5px;
}

.review-modal {
  background-color: rgba(255, 255, 255, 0.947);
  color: black;
  font-weight: bolder;
  font-size: large;
  border: 1px solid black;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.171);
  box-shadow: 2px 4px rgba(0, 0, 0, 0);
  transition: 0.5s;
  height: 35px;
}

a {
  color: black;
}

th {
  font-weight: bolder;
  text-decoration: underline;
}

table {
  border: 1px solid black;
}
