.form-container {
  width: 70%;
  overflow: auto;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

hr {
  margin-top: -5px;
}

.reviews-container {
  height: 40vh;
  overflow: auto;

  & > .row {
    border-bottom: 1px solid black;
    width: 95%;
  }
}

.row.content {
  word-wrap: anywhere;
}

.row.title {
  font-weight: bold;
}

.score-marker {
  border: 2px solid var(--score-marker-color);
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.score-marker-filled {
  background-color: var(--score-marker-color);
}
