<div class="container">
  <div class="form-container">
    <h1>{{ localizationService.localize("impressions_title") }}</h1>
    <hr />
    <div class="reviews-container mb-3">
      <div class="row m-0 mb-4" *ngFor="let r of this.reviewTable">
        <div class="row title mb-2">
          {{r.title}}
          <div class="ps-0">
            <div class="score-container d-flex">
              <div *ngFor="let i of [1, 2, 3, 4, 5]"
              [ngClass]="{ 'score-marker me-2': true, 'score-marker-filled': r.score! >= i }"
              [style]="'--score-marker-color:' + getMarkerColor(r.score!)"></div>
            </div>
          </div>
        </div>
        <div class="row content ms-md-2 mb-2">{{r.description}}</div>
      </div>
    </div>

    <div class="row pagination">
      <div class="col">
        <button class="review-modal" data-bs-toggle="modal" data-bs-target="#base-modal" *ngIf="shouldShowReviewButton"
          (click)="showReviewModalButton()">{{ localizationService.localize("impressions_leave_review") }}</button>
      </div>

      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a (click)="prevPage()" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let page of this.pagesArray">
              <a class="page-link" (click)="changePage(page)">
                {{page}}
              </a>
            </li>

            <li class="page-item">
              <a (click)="nextPage()" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
