<div class="container">
  <div class="form-container">
    <h1>Utisci </h1>
    <hr />
    <div class="table-container mb-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th> Naslov </th>
            <th> Utisak </th>
            <th> Ocjena</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of this.reviewTable">
            <td>{{r.title}}</td>
            <td>{{r.description}}</td>
            <td>{{r.score}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col">
        <button class="review-modal" data-bs-toggle="modal" data-bs-target="#base-modal" *ngIf="shouldShowReviewButton"
          (click)="showReviewModalButton()">Ostavi utisak</button>
      </div>

      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a (click)="prevPage()" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let page of this.pagesArray">
              <a class="page-link" (click)="changePage(page)">
                {{page}}
              </a>
            </li>

            <li class="page-item">
              <a (click)="nextPage()" class="page-link" aria-label="Next">
                <span class="sr-only">Next</span>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
