.form-container {
  width: 70%;
  overflow: auto;
}

hr {
  margin-top: -5px;
}

.review-modal {
  background-color: rgba(255, 255, 255, 0.947);
  color: black;
  font-weight: bolder;
  font-size: large;
  border: 1px solid black;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.171);
  box-shadow: 2px 4px rgba(0, 0, 0, 0);
  transition: 0.5s;
  height: 35px;
}

a {
  color: black;
}

th {
  font-weight: bolder;
  text-decoration: underline;
}

thead {
  font-size: large;
}

table {
  border: 1px solid #000;
  width: 100%;
  margin-bottom: 0;
}

.table-container {
  height: 40vh;
  overflow: auto;
}

td {
  word-wrap: anywhere;
}
