<div class="d-flex flex-row w-100 admin-container justify-content-center align-items-center">
  <div class="d-flex flex-column w-50">

    <form [formGroup]="delayForm" class="d-flex justify-content-center align-items-center flex-column">
      <div class="form-group mt-2 mb-2 d-flex flex-column">
        <label>Ruta: </label>
        <select class="form-control-admin" [(ngModel)]="delayModel.routeId" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let route of routes;" [value]="route.id">
            {{ route.startingLocation }} - {{ route.endingLocation }} | {{ route.timeOfDeparture }} - {{ route.timeOfArrival }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Razlog kašnjenja:</label>
        <textarea class="form-control-admin mb-3" rows="3"
          formControlName="reason" [(ngModel)]="delayModel.reason" [class.is-invalid]="delayForm.get('reason')?.invalid &&
          (delayForm.get('reason')?.dirty || delayForm.get('reason')?.touched)">
        </textarea>
        <div class="invalid-feedback">
          Obavezan unos!
        </div>
      </div>

      <div class="form-group">
        <label>Očekivano vrijeme kašnjenja (u minutama): </label>
        <div class="input-group">
          <input class="form-control-admin" type="number"
            min="1" max="60" step="5" required name="delayAmount"
            [(ngModel)]="delayModel.delayAmount" formControlName="delayAmount"
            [class.is-invalid]="delayForm.get('delayAmount')?.invalid &&
              (delayForm.get('delayAmount')?.dirty || delayForm.get('delayAmount')?.touched)" />
          <div class="invalid-feedback">
            Obavezan unos!
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-dark admin-button" (click)="addDelay()">
        Prijavi kašnjenje
      </button>
    </form>
  </div>
</div>
