<!-- Modal -->
<div class="modal fade" id="base-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalService.getModalTitle()}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalService.closeModal()"></button>
      </div>
      <div class="modal-body">
        <app-request *ngIf="modalService.showRequestModalState"></app-request>
        <app-purchase-history *ngIf="modalService.showPurchaseHistoryModalState"></app-purchase-history>
      </div>
    </div>
  </div>
</div>
