/* purchase history styles */
.purchase-history-header {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 15px;
}

table {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 50px;
}

th, td {
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    column-gap: 0;
    text-align: center;
}

th {
    font-weight: bolder;
}

/* invoice styles */

#invoice_container {
    width: 550px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
}

#invoice_header {
    margin-top: 0;
    padding-top: 0;
}

#invoice_header .col-two {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.header-upper {
    padding-bottom: 15px;
}

.header-upper, .col-three {
    text-align: right;
}

.header-upper h1 {
    margin: 0;
    padding: 0;
}

.header-lower {
    border-top: 1px dashed #000;
    border-bottom: 1px solid #000;
}

#invoice_container .row {
    padding: 20px 5px;
}

#invoice_container .col-one, #invoice_container .col-two, #invoice_container .col-three {
    width: calc(100% / 3 - 4px);
    display: inline-block;
}

#invoice_container .col-one {
    float: left;
}

#invoice_container .col-three {
    float: right;
}

#invoice_container .col-two {
    text-align: center;
}

#invoice_body > .row:last-of-type {
    border-bottom: 1px dashed #000;
}

#invoice_footer .col-two {
    text-align: right;
    float: right;
}

#invoice_footer .row {
    padding: inherit 0;
}

.footer-upper {
    border-bottom: 1px dashed #000;
    padding: 10px 5px;
}

/*issued ticket styles*/

#issued_ticket_container {
    width: 540px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px;
}

#issued_ticket_container .col-title {
    font-weight: bold;
}

#issued_ticket_header {
    padding-left: 50px;
}

#issued_ticket_header h1 {
    margin: 0;
    margin-left: 45px
}

#issued_ticket_sidebar {
    position: absolute;
}

#issued_ticket_container .sidebar-content {
    -webkit-transform: rotate(270deg) translateX(-105px) translateY(-70px);
    -moz-transform: rotate(270deg) translateX(-105px) translateY(-70px);
    -ms-transform: rotate(270deg) translateX(-105px) translateY(-70px);
    -o-transform: rotate(270deg) translateX(-105px) translateY(-70px);
    transform: rotate(270deg) translateX(-105px) translateY(-70px);
    font-weight: bold;
    font-size: 8pt;
    letter-spacing: 1px;
}

#issued_ticket_body_content .col-two {
    float: right;
}

#issued_ticket_container .col-one, #issued_ticket_container .col-two, #issued_ticket_container .col-three {
    padding: 10px 40px;
    width: calc(100% / 2 - 80px);
    display: inline-block;
}

#issued_ticket_body_content {
    border-left: 1px solid black;
    margin-left: 60px;
    width: 100%;
}

#issued_ticket_footer {
    border-top: 1px dashed #000;
    width: 80%;
    margin-left: 70px;
    margin-top: 5px;
}

#issued_ticket_footer .col-one, #issued_ticket_footer .col-two, #issued_ticket_footer .col-three {
    width: calc(100% / 3 - 59px);
    white-space: nowrap;
    text-align: left;
    padding-left: 0;
}

#issued_ticket_footer .col-three {
  display: block;
}