.form-container {
  padding: 20px 5px 15px 5px;
  width: 50%;
}

table {
  border: 1px solid black;
}

th,td {
  padding: 10px 30px 10px 30px;
}

th {
  font-weight: bolder;
}

hr {
  border: 2px solid black;
}
