<div class="container">
  <div class="form-container">

    <div class="row justify-content-center" id="content" #content>
      <h1 class="text-center mb-2">Historija kupovine </h1>
      <div class="col-auto">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tip karte</th>
              <th scope="col">Relacija</th>
              <th scope="col">Cijena</th>
              <th scope="col">Datum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ph of this.purchaseHistory | paginate:{
              itemsPerPage: paginationModel.pageSize,
              currentPage: paginationModel.page,
              totalItems: paginationModel.totalCount
            }; let i=index">
              <td>{{ ph.ticketName }}</td>
              <td>{{ ph.relationId }}</td>
              <td>{{ ph.price }}</td>
              <td>{{ ph.issuedDate | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <button class="primary" (click)="purchaseHistoryPrintButton()">Preuzmite Vašu historiju kupovine</button>
      </div>
      <div class="col">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
