<form [formGroup]="userCreationForm">
  <div class="form-group mb-3">
    <label for="firstName">Ime: </label>
    <input id="firstName" class="form-control-admin mt-1" type="text" required name="firstName"
      [(ngModel)]="userCreateModel.firstName" formControlName="firstName" [class.is-invalid]="
    userCreationForm.get('firstName')?.invalid && (userCreationForm.get('firstName')?.dirty
    || userCreationForm.get('firstName')?.touched)" />
    <div class="invalid-feedback">
      Obavezan unos!
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="lastName">Prezime: </label>
    <input id="lastName" class="form-control-admin mt-1" type="text" required name="lastName"
      [(ngModel)]="userCreateModel.lastName" formControlName="lastName" [class.is-invalid]="
        userCreationForm.get('lastName')?.invalid && (userCreationForm.get('lastName')?.dirty
        || userCreationForm.get('lastName')?.touched)" />
    <div class="invalid-feedback">
      Obavezan unos!
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="dateOfBirth">Datum rođenja: </label>
    <input id="dateOfBirth" class="form-control-admin mt-1" type="date" placeholder="" required name="dateOfBirth"
      [(ngModel)]="userCreateModel.dateOfBirth" formControlName="dateOfBirth" [class.is-invalid]="
        userCreationForm.get('dateOfBirth')?.invalid && (userCreationForm.get('dateOfBirth')?.dirty
        || userCreationForm.get('dateOfBirth')?.touched)" />
    <div class="invalid-feedback">
      Obavezan unos!
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="email">Email:</label>
    <input id="email" class="form-control-admin mt-1" type="email" required name="email"
      [(ngModel)]="userCreateModel.email" formControlName="email" [class.is-invalid]="
        userCreationForm.get('email')?.invalid && (userCreationForm.get('email')?.dirty
        || userCreationForm.get('email')?.touched)" />
    <div class="invalid-feedback">
      Molimo Vas, unesite validan email.
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="phoneNumber">Broj telefona: </label>
    <input id="phoneNumber" class="form-control-admin mt-1" placeholder="" required name="phoneNumber"
      [(ngModel)]="userCreateModel.phoneNumber" formControlName="phoneNumber" [class.is-invalid]="
        userCreationForm.get('phoneNumber')?.invalid && (userCreationForm.get('phoneNumber')?.dirty
        || userCreationForm.get('phoneNumber')?.touched)" />
    <div class="invalid-feedback">
      Obavezan unos!
    </div>
  </div>

  <div class="form-group mb-3">
  <label for="password">Lozinka: </label>
    <input id="password" class="form-control-admin mt-1" type="password" required name="password"
      [(ngModel)]="userCreateModel.password" formControlName="password" [class.is-invalid]="
        userCreationForm.get('password')?.invalid && (userCreationForm.get('password')?.dirty
        || userCreationForm.get('password')?.touched)" />
    <div class="invalid-feedback">
      Obavezan unos!
    </div>
  </div>

  <div class="form-group mb-2">
    <label>Tip korisnika: </label>
    <select class="form-control-admin mt-1" [(ngModel)]="userCreateModel.roleId" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let role of roles; let i=index" [value]="role.id">
        {{role.name}}
      </option>
    </select>
  </div>

  <button type="button" class="btn btn-dark admin-button" (click)="addUser()">Evidentiraj korisnika</button>
</form>
